<div id="about">
    <h5>About us</h5>

    <div class="about-frame">
      <p> 
        Tipe Graphics are graphic designers spcializing in Brand, Web design and Web development. 
        We focus on helping small bussiness owners to brand their bussiness, idividuals and social media influencers with their potfolio.
      </p>
    </div>
</div>