<!DOCTYPE html>
<html>
<head>
  
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="page-frame">
<div class="frame-content container">
  Contacts
  <div>
    <h3>Telephonic</h3>
    <p>
      cell no: +27 72 225 2222 <br>
      WhatsApp: +27 72 225 2222
    </p>
  </div>
  <div>
    <h3>physical Address</h3>
    <p>
      287 App street <br>
      Block PQ <br>
      Soshanguve <br>
      0152
    </p>
  </div>
  <div>
    <h3>Social Media</h3>
    <p>
      Twitter: @tipegraphics <br>
      Facebook: @tipegraphics <br>
      LinkedIn: /tipegraphics 
    </p>
  </div>
</div>

</div> 
</div>


<%- include ("../partials/footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
