<!--<div class="border-line"></div>-->
<div class="frame">
    <div class="sub-frame">

        <div id="home">
          <div class="momo">
            <p>          
              Do you have a business or planning start a business but you dont know how to present it to your clients/customers and investors?
              well here at Tipe Graphics we make sure you dont need to worry abou the "How" We can brand your business
              
            </p>
          </div>
        </div>

        <div id="about">
          <h5>About</h5>

          <div class="about-frame">
            <div>
              <p> 
                Tipe Graphics are designers spcializing in Brand and Web design. 
                We focus on helping small bussiness owners to brand their bussiness, idividuals and social media influencers with their potfolio.
              </p>
            </div>
          </div>
        </div>

        <div id="services">
          <h5>What we do</h5>
          <div class="service-frame">
            <!--<div><h5>What we do</h5></div>-->
            <div class="service-content">

              <div class="service-card">
                <h4>Brand Design</h4>
                <ul>
                  <li>Corprate Identity</li>
                  <li>Logo</li>
                  <li>Poster</li>
                  <li>Bussines card</li>
                </ul>   
              </div>
      
              <div class="service-card">
                <h4>Web Design</h4>
                <ul>
                  <li>UX/UI design</li>
                  <li>Web graphic design</li>
                </ul>   
              </div>
      
              <div class="service-card">
                <h4>Web Development</h4>
                <ul>
                  <li>Web hosting</li>
                  <li>Domain registration</li>
                  <li>Custom web apps</li>
                  <li>Email setup</li>
                  <li>SSL</li>
                </ul>   
              </div>
            </div>
          </div>

          
        </div>

        <div id="potfolio">
          <h5>Potfolio</h5>

          <div class="potfolio-frame">
            <div class="potfolio-content">
              <div class="potfolio-card">
                
                <img src="http://drive.google.com/uc?id=1oQOQMn7Ilb7c0dkMZTszTMHLSMl35wLk" class="gallery">
              </div>
              <div class="potfolio-card">
                <img src="http://drive.google.com/uc?id=1nLTO_6x00eBFK5XL9-IGiNwMJeZNcnVl" class="gallery">
              </div>
              <div class="potfolio-card">
                <img src="http://drive.google.com/uc?id=1rzA7b5IYRf885dni8g5_JZxrxSN84GIb" class="gallery">
              </div>
              <div class="potfolio-card">
                <img src="http://drive.google.com/uc?id=1pcOKZqtkDdWvKO5LzlgVJ5e0NjjvbyoI" class="gallery">
              </div>
              <!--<div class="potfolio-card">
                <img src="http://drive.google.com/uc?id=1S1cy_f9fmMTWp2NtRRnsS8WDF5StquOW" class="gallery">
              </div>-->
          
            </div>
          </div>
        </div>

    </div>
  </div>

  <script>
    home = document.querySelector(momo).append("<p> Do you have a d investors?</p>")

    
  </script>