<div id="home">
    <div>
        <h1>Need Graphic Design solution?</h1>   
        <p>               
            Do you have  bussiness or planning start a business but you dont know how to present it to your clients/customers and investors?
            Well... Here at Tipe Graphics we make sure you don't need to worry about the <span >"HOW"</span> We can brand your business.
            
        </p>
    </div>

    <section class="home-card"></section>
  </div>

