<!DOCTYPE html>
<html>
<head>
  
  <%- include ("../partials/header.ejs") %>

  
</head>

<body >
  <%- include ("../partials/nav.ejs") %>

  <!--<div class="border-line"></div>-->
  <div class="frame">
    <div class="sub-frame">

      <div id="home">
        <div class="a">
          <div>
            <h3>News</h3>
            <p>          
              Do you have a business or planning start a business but you dont know how to present it to your client and investors?
              well here at Tipe Graphics we make sure you dont need to worry abou the "How"
              <span >...Read more</span>
            </p>
          </div>
        </div>

      </div>

      <div id="about">

      </div>

      <div id="potfolio">

      </div>

      <div id="services">
        <div class="service-card">
          <div class="card-icon">

          </div>
          <p>bussines card</p>
        </div>

        <div class="service-card">
          <div class="card-icon">

          </div>
          <p>Poster</p>
        </div>

        <div class="service-card">
          <div class="card-icon">

          </div>
          <p>Logo design</p>
        </div>

        <div class="service-card">
          <div class="card-icon">

          </div>
          <p>Cooprate Identity</p>
        </div>

        <div class="service-card">
          <div class="card-icon">

          </div>
          <p>Website design</p>
        </div>
      </div>  
        
    </div>
  </div>

  <%- include ("../partials/footer.ejs") %>

  </body>
</html>
 