<!DOCTYPE html>
<html>
<head>
  
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/https://photos.app.goo.gl/53fM86z2tFxFe4Le6">
    </a>
    <h1>Tipe Graphics is currently under construction</h1>
    <p>Great things are coming.</p>
   
  </div>
</div>

<div class="page-frame">
  Welcome
  <div class="content-frame">
    <div class="container home-content">
      <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. 
        Phasellus sed efficitur dolor, et ultricies sapien. 
        Quisque fringilla sit amet dolor commodo efficitur. 
        Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
      </p>
  
      <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. 
        Phasellus sed efficitur dolor, et ultricies sapien. 
        Quisque fringilla sit amet dolor commodo efficitur. 
        Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
      </p>
  
      <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. 
        Phasellus sed efficitur dolor, et ultricies sapien. 
        Quisque fringilla sit amet dolor commodo efficitur. 
        Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
      </p>
    </div>
  </div>
</div>

<%- include ("../partials/footer.ejs") %>
</body>
</html>
