<div id="services">
    <h5>What we do</h5>
    <div class="service-frame">
      <!--<div><h5>What we do</h5></div>-->
      <div class="service-content">

        <div class="service-card">
          <h4>Brand Design</h4>
          <ul>
            <li>Corprate Identity</li>
            <li>Logo</li>
            <li>Poster</li>
            <li>Bussines card</li>
          </ul>   
        </div>

        <div class="service-card">
          <h4>Web Design</h4>
          <ul>
            <li>UX/UI design</li>
            <li>Web graphic design</li>
          </ul>   
        </div>

        <div class="service-card">
          <h4>Web Development</h4>
          <ul>
            <li>Web hosting</li>
            <li>Domain registration</li>
            <li>Custom web apps</li>
            <li>Email setup</li>
            <li>SSL</li>
          </ul>   
        </div>
      </div>
    </div>

    
  </div>